body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 20px;
    justify-content: center;
    background: url(img/bg.jpg) center/cover ;
    height: 100vh;
    color: white;
    background-color: rgb(4, 32, 4);
}
a{
    text-decoration: none;
}

.navlink{
    margin: 50px;
    text-decoration: none;
    color: #fff;
    width: 25%;
    justify-content: center;
}

header{
    background-color: #000;
    height: 130px;
    border-bottom: #fff;
    justify-content: center;
    display: flex;
}

.navlink:hover{
    color: gray;
}

.text{
    display: flex;
    text-align: justify;
    font-size: 20px;
    padding: 20px 50px;
    width: 50%;
}
button{
    display: flex;
    justify-content: center;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: red;
    border: none;
    outline: none;
}
button:hover{
    background-color: black;
    color: white;
}

.first_text{
    width: bold;
    font-size: 50px;
}

.second_text{
    padding: 0 20px;
    text-align: justify;
}

.leftimg{
    float: left;
    padding: 0 20px;
}

.index1container{
    padding: 0 20px;
}

.list{
    text-align: justify;
}

.container{
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 0 50px;
}

video{
    outline: none;
    height: 70vh;
}

.video_field{
    display: flex;
    justify-content: center;
    padding: 50px;
}






.index3_container{
    height: 100vh;
}

.div_text1{
    padding: 20px;
}

.inst_img{
    height: 7vh;
}

.inst_scrl{
    width: 32vw;
    height: 100vh;
}

.cont_in4{
    display: flex;
    justify-content: center;
}